/*
 * Columbia University Engineers Without Borders - Morocco
 * CSS Stylesheet
 * Author: Alex Kalicki
 * Source code for site available on GitHub: https://github.com/akalicki/EWB-Morocco
*/


/* CSS5 RESET */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

nav ul {
    list-style:none;
    height: 100%;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/* WEBSITE CODE */
html, body {
	font-family:"Exo",sans-serif;
	font-weight:400;
	font-size:16px;
	color:#262829;
	background:white;
	line-height:1.4;
	height:100%;
	min-width:960px;
}

a {
	text-decoration:none;
	color:#21abc9;
}

a:hover {
	color:#e95a50;
}

nav {
	position:fixed;
	z-index:100;
	top:0;
	left:0;
	right:0;
	height:55px;
	background-color:#262829;
}

nav .container {
	padding-top:0;
	padding-bottom:0;
	height:55px;
}

.container {
	position:relative;
	width:100%;
	max-width:1140px;
	margin:0 auto;
	overflow:hidden;
	padding-left:2em;
	padding-right:2em;
}

nav ul li {
	display:inline-block;
	height:100%;
	padding-right:.2em;
}

nav li a {
	display:inline-block;
	padding:1em 1em 0 0;
	height:100%;
	font-weight: 500;
	color:#909090;
}

nav li a:hover {
	color:#21abc9;
}

nav li.selected a {
	color:white;
}